<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjhoUMJalubiWlF7NMaEuzGP_QM-3GmPI</string>
	<key>GCM_SENDER_ID</key>
	<string>171073418152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.shivansh.SaiStudyClasses</string>
	<key>PROJECT_ID</key>
	<string>jayant-ke-guides</string>
	<key>STORAGE_BUCKET</key>
	<string>jayant-ke-guides.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171073418152:ios:d766b896d624b11102639d</string>
</dict>
</plist>